{{page-title "Submissions"}}
<div class="au-u-margin-top-large">
  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-1-2@medium">
      <AuContent>
        <AuHeading @level="2" @skin="2">Check out the Submissions</AuHeading>
        <p class="au-c-intro">We challenged you to imagine a brighter future for your hometown, share your dreams with us and you didn’t disappoint!</p>

        <p>Your ideas will:
          <ul>
            <li>Motivate local authorities to be even more transparent by showing the good we can do with their decisions.</li>
            <li>Spark our policy makers to invest more in open data.</li>
            <li>Show people the value of linked open data.</li>
          </ul>
        </p>

        <p>After our talk at <a href="https://2021.openbelgium.be/" target="_blank" rel="noopener noreferrer" class="au-c-link">Open Belgium 2021</a> we set you a challenge. You had until 22/03/2021 to submit your idea on how to reuse Linked Open Data.</p>
        <p>We held a Hackathon to brainstorm, collaborate, help and inspire each other to bring the best ideas to life. Now, it’s time to share all the best submissions with the world.</p>
      </AuContent>
    </div>
    <div class="au-o-grid__item au-u-1-2@medium">
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9Wg63SZgEbk" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <AuHr  @size="huge"/>

  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-1-2@medium">
      <AuContent>
        <AuHeading @level="3" @skin="3">The Submissions</AuHeading>
        <p>We want to thank all participants for their amazing submissions and for proving once more that great ideas came from collaborative brainstorm and team work.</p>
        <p class="au-u-margin-bottom">It did not feel right choosing only one winner as the submissions were so unique. We hae decided to separate the submissions into the three themes that came out of our brainstorming session during the hackathon.</p>
      </AuContent>
    </div>
  </div>

  <div class="au-o-flow au-u-margin-bottom-large">
    <AuCard @flex={{true}} @divided={{true}} as |c|>
      <c.header @badgeSkin="brand" @badgeIcon="users">
        <AuHeading @level="2" @skin="4">
          Inform &amp; Unite Citizens
        </AuHeading>
      </c.header>
      <c.content>
        <div class="au-o-grid ">
          <div class="au-o-grid__item au-u-1-2@medium">
            <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/H6NVVaFI6FQ" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="au-o-grid__item au-u-1-2@medium">
            <AuHeading @level="4" @skin="4">
              <AuPill @skin="success">
                Best in category
              </AuPill>
              <br>
              Team Paddle
            </AuHeading>
            <p>Wouter from Paddle dreams of bringing the information into the website of a local municipality in an accessible way. This way, we can make it available for the internal search function, and also allow the internal communication services to link to these pages.</p>
            <br>
            <p class="au-u-light">We love that Wouter focused on letting the local authorities get to work in their journey to better inform citizens. It allows local authorities to create made-to-measure solutions for their citizens.</p>
          </div>
        </div>
        <div class="au-o-grid">
          <div class="au-o-grid__item au-u-1-3@medium">
            <AuHeading @level="4" @skin="4" class="au-u-margin-top-large">Panithi</AuHeading>
            <p>Panithi dreamed of a smart city. She created a prototype of a mobile app that informs citizens about new relevant decisions.</p>
            <br>
            <p class="au-u-light">We loved the innovating aspect of this pitch as well as the low threshold of sharing information.</p>
          </div>
          <div class="au-o-grid__item au-u-2-3@medium">
            <img src="/pitches/panithi.png">
          </div>
        </div>
      </c.content>
    </AuCard>
    <AuCard @flex={{true}} @divided={{true}} as |c|>
      <c.header @badgeSkin="brand" @badgeIcon="users">
        <AuHeading @level="2" @skin="4">
          Participation &amp; Fortify Connections
        </AuHeading>
      </c.header>
      <c.content>
        <div class="au-o-grid">
          <div class="au-o-grid__item au-u-1-3@medium">
            <AuHeading @level="4" @skin="4">
              <AuPill @skin="success">
                Best in category
              </AuPill>
              <br>
              Team Osocks
            </AuHeading>
            <p>Inti, Jan, Kilian, Simon, Alex wanted to make an app where citizens can see all the decisions being made in a specific city, and give their own vote for the decisionmakers to see.</p>
            <br>
            <p class="au-u-light">We loved the visuals as well as the interactive aspect of this idea and the focus on participation and raising awareness to the council about the citizen’s vote.</p>
          </div>
          <div class="au-o-grid__item au-u-2-3@medium">
            <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/TLDXh8EdpsY" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="au-o-grid au-o-grid--reverse">
          <div class="au-o-grid__item au-u-1-2@medium">
            <AuHeading @level="4" @skin="4">Wout</AuHeading>
            <p>Wout has a clear 3-step plan towards a functional digital democracy with simple features that are already present in most web-apps. He wants to allow people to query data and subscribe to new content matching those queries. Subsequently, people could discuss their findings. </p>
            <br>
            <p class="au-u-light">We think this is conceptually a really strong pitch, as it combines multiple concepts together.</p>
          </div>
          <div class="au-o-grid__item au-u-1-2@medium">
            <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/CxtdwYrzpSU" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </c.content>
    </AuCard>
    <AuCard @flex={{true}} @divided={{true}} as |c|>
      <c.header @badgeSkin="brand" @badgeIcon="users">
        <AuHeading @level="2" @skin="4">
          Democracy in Action
        </AuHeading>
      </c.header>
      <c.content>
        <div class="au-o-grid au-o-grid--reverse">
          <div class="au-o-grid__item au-u-1-3@medium">
            <AuHeading @level="4" @skin="4">
              <AuPill @skin="success">
                Best in category
              </AuPill>
              <br>
              Team Shiny Bright
            </AuHeading>
            <p>Jonas and Brecht created a working dashboard that allows citizens to easily find decisions that have been made in their neighbourhood.</p>
            <br>
            <p class="au-u-light">We loved how visual it is! It’s a great way to get information about decisions at the citizen’s fingertips.</p>
          </div>
          <div class="au-o-grid__item au-u-2-3@medium">
            <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/12NuofuQJmg" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="au-o-grid">
          <div class="au-o-grid__item au-u-1-3@medium">
            <AuHeading @level="4" @skin="4">Team Addestino</AuHeading>
            <p>Hannes and Thomas dreamt of obtaining insights based on voting results, per agenda item or per municipality.</p>
            <br>
            <p class="au-u-light">We loved that this makes democracy tangible by querying the data and discovering actual insights that can bring value to citizens and authorities.</p>
          </div>
          <div class="au-o-grid__item au-u-2-3@medium">
            <img src="/pitches/addestino.png">
          </div>
        </div>
      </c.content>
    </AuCard>
  </div>

  <AuHr  @size="huge"/>

  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-1-2@medium">
      <AuContent>
        <AuHeading @level="3" @skin="3">Teamwork Makes the Dream Work</AuHeading>
        <p><strong>To find out what we need to improve in order to support the wonderful ideas that came out of the challenge/hackathon, we asked the participants to fill out a feedback form while submitting their proposal.</strong></p>
        <p>We will be working hard to improve the Decision Data Hive in the following ways:</p>
        <ul>
          <li>
            Improve the way we present our data, to make the access smoother and more approachable for different types of developers.
            <br>
            <AuHelpText>We got some great suggestions, and we are studying ways to give you a better experience without limiting the possibilities of what you can do with the data.</AuHelpText>
          </li>
          <li>
            Guide Local Authorities to provide qualitative data, with the correct links.
            <br>
            <AuHelpText>e.g. Making sure that the link between Agenda &amp; BehandelingvanAgendapunt is correct.</AuHelpText>
          </li>
          <li>
            We need more data!
            <br>
            <AuHelpText>More!</AuHelpText>
          </li>
        </ul>
      </AuContent>
    </div>
    <div class="au-o-grid__item au-u-1-2@medium">
       <img src="/images/lod-teamwork.svg">
    </div>
  </div>

  <AuHr  @size="huge"/>

  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-2-3@medium">
      <AuContent>
        <AuHeading @level="3" @skin="3">Did the challenge inspire you to create your own prototype?</AuHeading>
        <p>If so, we’d love to hear from you. You can always reach out to us at <a href="mailto:digitaalABB@vlaanderen.be" target="_blank" rel="noopener noreferrer" class="au-c-link">digitaalABB@vlaanderen.be</a>.</p>
        <p>See you next year at <a href="https://twitter.com/openbelgium" target="_blank" rel="noopener noreferrer" class="au-c-link">Open Belgium</a>!</p>
      </AuContent>
    </div>
  </div>

</div>
