{{page-title ""}}
<div class="au-o-region-large au-c-hero">
  <div class="au-o-layout au-o-layout--large">
    <div class="au-o-grid au-o-grid--center">
      <div class="au-o-grid__item au-u-2-3@medium au-u-2-4@large">
        <AuHeading @skin="1" class="au-u-margin-bottom">
          {{!-- Your City and Government Have Linked Open Data Available for You... --}}
          Your City Publishes Its Decisions <br> As Linked Open Data...
          <br>
          Let's Build Something With It!
        </AuHeading>
        <p class="au-c-intro">
          We are putting that valuable and reusable linked open data to full use at the Flemish Government, but we also make this <strong>data available for you</strong>.
          <br>
          <br>
          <strong>What would you do with this data?</strong> We challenge you to imagine a brighter future for your hometown, share your dreams with us – and win the <strong>Linked Open Data for Local Governments</strong> Challenge.
        </p>
        <p class="au-c-para au-u-margin-top">
          <AuLink @linkRoute="participate.discover" class="au-c-button au-c-button--large au-u-margin-bottom">
            <AuIcon @icon="arrow-right" @size="large" @alignment="left" /> Join the challenge
          </AuLink>
          <br>
          Deadline: 22 March 2021
        </p>
      </div>
      <div class="au-o-grid__item au-u-1-3@medium au-u-2-4@large au-c-hero__image au-u-visible-from@medium">
        <svg width="381" height="366" viewBox="0 0 381 366" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
            <path d="M168.712 188.672L183.07 213.499L197.427 238.326H139.997L154.354 213.499L168.712 188.672Z" fill="#FFE615"/>
            <path d="M87.1236 139.91H26.9097V200.023H87.1236V139.91Z" fill="#0055CC" fill-opacity="0.25"/>
            <path d="M130.286 101.608C151.623 101.608 168.919 84.3402 168.919 63.0395C168.919 41.7388 151.623 24.4712 130.286 24.4712C108.95 24.4712 91.6533 41.7388 91.6533 63.0395C91.6533 84.3402 108.95 101.608 130.286 101.608Z" fill="#FFE615"/>
            <path d="M165.056 127.438C165.056 126.176 165.431 124.942 166.133 123.892C166.836 122.842 167.835 122.024 169.003 121.541C170.171 121.057 171.457 120.931 172.698 121.177C173.938 121.424 175.077 122.032 175.972 122.924C176.866 123.817 177.475 124.955 177.722 126.193C177.968 127.431 177.842 128.715 177.358 129.881C176.874 131.048 176.054 132.045 175.003 132.746C173.951 133.448 172.715 133.822 171.45 133.822C169.754 133.822 168.128 133.15 166.929 131.952C165.729 130.755 165.056 129.131 165.056 127.438ZM166.121 127.438C166.121 128.491 166.434 129.519 167.019 130.394C167.605 131.269 168.437 131.951 169.411 132.353C170.385 132.756 171.456 132.861 172.49 132.656C173.523 132.451 174.473 131.944 175.218 131.2C175.963 130.456 176.471 129.508 176.676 128.476C176.882 127.444 176.776 126.375 176.373 125.403C175.97 124.431 175.287 123.6 174.411 123.015C173.534 122.431 172.504 122.119 171.45 122.119C170.037 122.119 168.681 122.679 167.682 123.677C166.683 124.674 166.121 126.028 166.121 127.438Z" fill="#0055CC"/>
            <path d="M110.003 238.482L100.59 228.407L110.682 219.01L120.094 229.085L110.003 238.482ZM102.091 228.459L110.055 236.984L118.594 229.033L110.63 220.508L102.091 228.459Z" fill="#0055CC"/>
            <path d="M32.265 95.1639L24.6045 86.9645L32.8197 79.3179L40.4802 87.5172L32.265 95.1639ZM25.8253 87.0071L32.3098 93.9472L39.2594 87.4757L32.7771 80.5377L25.8253 87.0071Z" fill="#0055CC"/>
            <path d="M139.878 106.395C129.338 106.395 119.036 103.275 110.273 97.4299C101.51 91.5845 94.6802 83.2762 90.6471 73.5556C86.6139 63.835 85.5587 53.1387 87.6147 42.8193C89.6708 32.5 94.7459 23.0211 102.198 15.5813C109.65 8.14143 119.145 3.07485 129.482 1.0222C139.818 -1.03044 150.533 0.0230496 160.27 4.04946C170.006 8.07586 178.329 14.8943 184.184 23.6427C190.039 32.391 193.164 42.6762 193.164 53.1977C193.164 67.3066 187.55 80.8376 177.557 90.8141C167.564 100.791 154.01 106.395 139.878 106.395ZM139.878 1.06398C129.549 1.06398 119.453 4.12157 110.865 9.85009C102.277 15.5786 95.5841 23.7208 91.6317 33.247C87.6792 42.7732 86.645 53.2555 88.66 63.3685C90.675 73.4814 95.6485 82.7708 102.952 90.0618C110.255 97.3528 119.56 102.318 129.69 104.33C139.82 106.341 150.32 105.309 159.862 101.363C169.404 97.4171 177.56 90.735 183.298 82.1616C189.036 73.5883 192.099 63.5088 192.099 53.1977C192.099 39.371 186.597 26.1106 176.803 16.3336C167.01 6.55662 153.727 1.06398 139.878 1.06398Z" fill="#3F3D56"/>
            <path d="M107.074 94.5874L93.3091 123.188L94.2697 123.649L108.035 95.0482L107.074 94.5874Z" fill="#2F2E41"/>
            <path d="M103.897 161.252L103.39 162.188L164.023 194.947L164.531 194.012L103.897 161.252Z" fill="#2F2E41"/>
            <path d="M104.176 200.555H26.377V122.887H104.176V200.555ZM27.4427 199.491H103.11V123.951H27.4427V199.491Z" fill="#3F3D56"/>
            <path d="M219.547 238.857H139.074L179.31 169.282L219.547 238.857ZM140.92 237.793H217.7L179.31 171.41L140.92 237.793Z" fill="#3F3D56"/>
            <path d="M381 364.936H0V366H381V364.936Z" fill="#E6E6E6"/>
            <path d="M109.931 331.757C112.643 332.709 115.554 332.947 118.384 332.449C121.215 331.952 123.869 330.735 126.092 328.916C131.752 324.172 133.527 316.361 134.97 309.126L139.241 287.726L130.3 293.872C123.869 298.292 117.294 302.854 112.842 309.257C108.39 315.659 106.447 324.4 110.023 331.327" fill="#E6E6E6"/>
            <path d="M111.312 359.156C110.187 350.97 109.029 342.679 109.82 334.406C110.522 327.058 112.767 319.883 117.339 313.997C119.765 310.879 122.718 308.208 126.064 306.103C126.936 305.554 127.739 306.934 126.87 307.481C121.081 311.134 116.603 316.528 114.082 322.885C111.297 329.955 110.85 337.661 111.33 345.171C111.62 349.713 112.236 354.224 112.854 358.731C112.903 358.935 112.873 359.149 112.769 359.332C112.666 359.514 112.496 359.65 112.296 359.712C112.092 359.767 111.874 359.74 111.69 359.635C111.506 359.531 111.37 359.358 111.313 359.155L111.312 359.156Z" fill="#F2F2F2"/>
            <path d="M185.808 347.881C187.124 349.434 188.819 350.622 190.729 351.33C192.638 352.039 194.699 352.245 196.711 351.928C201.876 351.053 205.77 346.91 209.249 343.002L219.547 331.443L211.873 332.002C206.353 332.404 200.694 332.84 195.674 335.162C190.655 337.484 186.325 342.131 186.025 347.651" fill="#E6E6E6"/>
            <path d="M176.971 364C178.782 359.652 180.605 355.242 183.383 351.402C185.849 347.991 189.025 345.108 192.974 343.528C195.068 342.694 197.291 342.23 199.543 342.159C200.13 342.139 200.13 343.049 199.543 343.068C195.642 343.198 191.883 344.561 188.808 346.962C185.398 349.637 182.953 353.297 181.02 357.127C179.852 359.444 178.851 361.839 177.855 364.233C177.82 364.347 177.743 364.444 177.64 364.504C177.536 364.563 177.414 364.582 177.297 364.555C177.181 364.523 177.082 364.447 177.021 364.342C176.961 364.238 176.944 364.114 176.975 363.998L176.971 364Z" fill="#F2F2F2"/>
            <path d="M119.413 346.022C120.575 347.787 122.174 349.223 124.054 350.192C125.934 351.161 128.032 351.63 130.147 351.554C135.582 351.297 140.111 347.511 144.188 343.916L156.25 333.285L148.267 332.903C142.527 332.629 136.638 332.371 131.17 334.14C125.703 335.91 120.66 340.161 119.66 345.812" fill="#E6E6E6"/>
            <path d="M108.131 363.862C113.549 354.291 119.833 343.654 131.063 340.254C134.185 339.312 137.459 338.975 140.708 339.26C141.732 339.348 141.476 340.924 140.454 340.836C135.008 340.385 129.572 341.82 125.062 344.901C120.722 347.851 117.342 351.951 114.482 356.299C112.73 358.963 111.161 361.739 109.592 364.512C109.09 365.398 107.624 364.758 108.131 363.862Z" fill="#F2F2F2"/>
            <path d="M12.5134 346.909C14.4756 347.598 16.5823 347.77 18.6307 347.41C20.679 347.05 22.5999 346.169 24.2083 344.853C28.3044 341.42 29.5902 335.766 30.6336 330.53L33.7242 315.043L27.2536 319.491C22.6001 322.69 17.8421 325.992 14.6199 330.625C11.3976 335.259 9.99138 341.584 12.58 346.597" fill="#E6E6E6"/>
            <path d="M13.0666 365.659C12.4118 360.896 11.7382 356.073 12.1976 351.259C12.6057 346.984 13.9118 342.809 16.5718 339.385C17.9837 337.571 19.7017 336.017 21.6485 334.792C22.1563 334.473 22.6231 335.276 22.1179 335.594C18.7495 337.719 16.1442 340.858 14.6775 344.556C13.0576 348.67 12.7976 353.154 13.0789 357.523C13.2478 360.165 13.6054 362.789 13.9661 365.412C13.9952 365.531 13.9777 365.656 13.9173 365.762C13.8568 365.868 13.758 365.947 13.6411 365.983C13.5221 366.015 13.3953 365.999 13.2881 365.938C13.181 365.878 13.1021 365.777 13.0688 365.659L13.0666 365.659Z" fill="#F2F2F2"/>
            <path d="M61.2671 365.707C61.1264 365.478 57.8114 359.952 56.6626 348.478C55.6085 337.95 56.2864 320.206 65.5039 295.455C82.967 248.564 61.4797 210.73 61.2601 210.353L62.32 209.739C62.3733 209.835 67.9204 219.481 71.1954 234.841C75.5233 255.205 73.9473 276.379 66.6522 295.881C49.2189 342.692 62.1799 364.851 62.3125 365.07L61.2671 365.707Z" fill="#2F2E41"/>
            <path d="M79.5555 236.955C83.9537 236.955 87.5192 233.396 87.5192 229.005C87.5192 224.614 83.9537 221.055 79.5555 221.055C75.1573 221.055 71.5918 224.614 71.5918 229.005C71.5918 233.396 75.1573 236.955 79.5555 236.955Z" fill="#FFE615"/>
            <path d="M56.2762 298.726C60.6744 298.726 64.2399 295.166 64.2399 290.776C64.2399 286.385 60.6744 282.825 56.2762 282.825C51.878 282.825 48.3125 286.385 48.3125 290.776C48.3125 295.166 51.878 298.726 56.2762 298.726Z" fill="#FFE615"/>
            <path d="M65.3364 365.469C65.3364 365.469 58.5407 348.77 78.9271 336.246L65.3364 365.469Z" fill="#E6E6E6"/>
            <path d="M56.9788 365.165C56.9788 365.165 54.906 353.263 38.8613 353.365L56.9788 365.165Z" fill="#E6E6E6"/>
            <path d="M75.5337 268.31C75.5337 267.047 75.9087 265.813 76.6113 264.763C77.314 263.714 78.3126 262.895 79.4811 262.412C80.6495 261.929 81.9352 261.803 83.1756 262.049C84.416 262.295 85.5554 262.903 86.4496 263.796C87.3439 264.689 87.9529 265.826 88.1996 267.065C88.4464 268.303 88.3197 269.586 87.8358 270.753C87.3518 271.919 86.5322 272.916 85.4806 273.618C84.4291 274.319 83.1928 274.694 81.9281 274.694C80.2322 274.694 78.6057 274.021 77.4066 272.824C76.2074 271.627 75.5337 270.003 75.5337 268.31ZM76.5994 268.31C76.5994 269.362 76.9119 270.391 77.4975 271.265C78.083 272.14 78.9152 272.822 79.8889 273.225C80.8626 273.627 81.934 273.733 82.9677 273.528C84.0013 273.322 84.9508 272.816 85.696 272.072C86.4413 271.328 86.9488 270.38 87.1544 269.348C87.36 268.316 87.2545 267.246 86.8512 266.274C86.4478 265.302 85.7648 264.471 84.8885 263.887C84.0123 263.302 82.982 262.99 81.9281 262.99C80.5148 262.99 79.1595 263.551 78.1602 264.548C77.1608 265.546 76.5994 266.899 76.5994 268.31Z" fill="#0055CC"/>
            <path d="M56.2764 248.605C56.2764 247.343 56.6514 246.109 57.354 245.059C58.0566 244.009 59.0553 243.191 60.2237 242.708C61.3922 242.224 62.6779 242.098 63.9183 242.344C65.1587 242.591 66.298 243.199 67.1923 244.091C68.0866 244.984 68.6956 246.122 68.9423 247.36C69.1891 248.598 69.0624 249.882 68.5784 251.048C68.0945 252.215 67.2749 253.212 66.2233 253.913C65.1718 254.615 63.9355 254.989 62.6708 254.989C60.9749 254.989 59.3484 254.317 58.1492 253.119C56.9501 251.922 56.2764 250.298 56.2764 248.605ZM57.3421 248.605C57.3421 249.658 57.6546 250.686 58.2401 251.561C58.8257 252.436 59.6579 253.118 60.6316 253.52C61.6053 253.923 62.6767 254.028 63.7103 253.823C64.744 253.618 65.6935 253.111 66.4387 252.367C67.184 251.623 67.6915 250.675 67.8971 249.643C68.1027 248.611 67.9971 247.542 67.5938 246.57C67.1905 245.598 66.5075 244.767 65.6312 244.182C64.7549 243.598 63.7247 243.286 62.6708 243.286C61.2575 243.286 59.9022 243.846 58.9028 244.844C57.9035 245.841 57.3421 247.194 57.3421 248.605Z" fill="#0055CC"/>
            <path d="M339.924 233.334C339.128 233.904 338.216 234.292 337.253 234.469C336.29 234.645 335.3 234.607 334.353 234.357C332.655 233.906 331.205 232.8 330.323 231.281C329.441 229.763 329.2 227.958 329.651 226.262C329.674 226.176 329.699 226.09 329.726 226.005C329.824 225.694 329.946 225.392 330.09 225.1L317.06 166.699C316.861 166.032 316.795 165.333 316.866 164.641C316.937 163.949 317.145 163.278 317.476 162.666C317.807 162.053 318.255 161.512 318.796 161.073C319.336 160.634 319.958 160.306 320.626 160.107C321.294 159.908 321.994 159.842 322.687 159.913C323.381 159.984 324.053 160.191 324.666 160.521C325.279 160.852 325.821 161.3 326.261 161.84C326.701 162.379 327.03 163 327.229 163.667C327.24 163.703 327.25 163.739 327.26 163.776L339.56 222.353C340.484 222.927 341.252 223.719 341.797 224.66C342.341 225.601 342.644 226.661 342.68 227.747C342.716 228.833 342.484 229.911 342.003 230.885C341.522 231.86 340.808 232.701 339.924 233.335L339.924 233.334Z" fill="#9F616A"/>
            <path d="M357.227 358.629H350.16L346.797 331.416H357.228L357.227 358.629Z" fill="#A0616A"/>
            <path d="M359.029 365.468H336.242V365.18C336.242 362.832 337.177 360.58 338.84 358.92C340.503 357.259 342.759 356.326 345.111 356.326H359.029V365.468Z" fill="#143665"/>
            <path d="M286.376 358.407L279.652 356.235L284.842 329.31L294.767 332.515L286.376 358.407Z" fill="#A0616A"/>
            <path d="M285.983 365.469L264.304 358.467L264.392 358.193C265.116 355.959 266.7 354.103 268.794 353.034C270.889 351.966 273.322 351.771 275.561 352.494L288.802 356.77L285.983 365.469Z" fill="#143665"/>
            <path d="M318.081 150.939C324.665 150.939 330.004 145.61 330.004 139.036C330.004 132.462 324.665 127.133 318.081 127.133C311.496 127.133 306.158 132.462 306.158 139.036C306.158 145.61 311.496 150.939 318.081 150.939Z" fill="#9F616A"/>
            <path d="M334.108 185.307C335.766 179.159 328.174 159.879 327.554 157.431C324.594 156.749 317.735 158.057 313.519 157.19C307.524 162.191 302.755 169.334 299.46 172.724C296.033 176.248 293.824 178.638 297.365 186.886C301.657 196.885 300.703 207.359 300.703 207.359L303.565 232.593C303.565 232.593 291.642 265.921 292.596 288.298L281.626 343.05C281.626 343.05 284.964 348.763 291.641 345.906C291.641 345.906 307.379 317.818 305.949 297.343L323.118 259.253C323.118 259.253 335.041 295.438 338.379 298.771L346.963 350.191C346.963 350.191 355.071 352.572 358.886 350.191C358.886 350.191 360.317 300.675 352.21 292.581C352.21 292.581 344.102 258.301 346.01 249.255C347.917 240.209 348.394 226.402 334.087 214.023C334.087 214.023 334.231 214.088 329.795 205.929L334.108 185.307Z" fill="#143665"/>
            <path d="M324.3 120.638C323.632 120.639 322.965 120.706 322.309 120.836C321.124 120.262 319.824 119.963 318.507 119.961H318.162C311.508 119.961 306.115 125.973 306.115 133.386H308.345L308.705 130.65L309.233 133.386H311.09C310.512 135.581 310.222 137.842 310.227 140.112V153.776H313.597L315.549 148.713L315.06 153.776H336.726L338.5 149.173L338.056 153.776H340.496V143.047C340.495 130.671 333.245 120.638 324.3 120.638Z" fill="#2F2E41"/>
            <path d="M299.441 240.097C298.472 240.242 297.484 240.171 296.546 239.89C295.608 239.608 294.745 239.123 294.017 238.469C293.371 237.887 292.846 237.183 292.472 236.399C292.097 235.614 291.882 234.764 291.837 233.896C291.792 233.028 291.919 232.16 292.21 231.341C292.501 230.522 292.951 229.769 293.534 229.124C293.594 229.057 293.656 228.991 293.719 228.927C293.949 228.695 294.196 228.482 294.458 228.288L309.565 170.39C309.692 169.706 309.953 169.054 310.332 168.47C310.712 167.887 311.202 167.383 311.777 166.989C312.351 166.595 312.997 166.318 313.679 166.173C314.36 166.028 315.064 166.019 315.749 166.146C316.434 166.272 317.088 166.533 317.672 166.911C318.257 167.29 318.761 167.78 319.155 168.353C319.55 168.927 319.828 169.572 319.973 170.252C320.118 170.933 320.127 171.635 320 172.319C319.993 172.359 319.985 172.399 319.977 172.438L304.136 230.161C304.696 231.092 305.017 232.147 305.071 233.232C305.126 234.317 304.911 235.398 304.447 236.381C303.982 237.363 303.283 238.216 302.41 238.864C301.537 239.513 300.517 239.936 299.441 240.097Z" fill="#9F616A"/>
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="381" height="366" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</div>

<AuHr />

<section class="au-o-region-large">
  <div class="au-o-layout au-o-layout--large">
    <div class="au-o-grid au-o-grid--center">
      <div class="au-o-grid__item au-u-2-5@medium">
        <AuContent @skin="large">
          <h2 class="au-c-heading au-c-heading--3">Why We Are Doing This</h2>
          <p>This challenge was designed for <a href="https://2021.openbelgium.be/" target="_blank" rel="noopener noreferrer">Open Belgium</a> – a yearly event that celebrates open knowledge together with <strong>researchers, civil servants, influencers and anyone curious about open data and open knowledge</strong> (people like you!).</p>
          <p>We wanted to give open knowledge enthusiasts a first taste of what we've promised in our previous talks at Open Belgium: the first steps to <strong>more open and transparent local governments for every city in Flanders</strong>.</p>
        </AuContent>
      </div>
      <div class="au-o-grid__item au-u-2-5@medium">
        <AuContent @skin="large">
          <h2 class="au-c-heading au-c-heading--3">Why Would You Take Part in our Challenge?</h2>
          <p>
            <ul>
              <li>Motivate local governments to be even more transparent.</li>
              <li>Spark our policy makers to invest in more in open data.</li>
              <li>Show people the value of linked open data. </li>
            </ul>
          </p>
          <p>Our Deputy Minister-President of the Government of Flanders, Flemish Minister for Home Affairs, Public Governance, Civic Integration and Equal Opportunities is <strong>ready to be challenged</strong>! <a href="https://www.vlaamsparlement.be/commissies/commissievergaderingen/1471311/verslag/1473253" target="_blank" rel="noopener noreferrer">Watch Bart Somers get enthusiastic about LBLOD, Linked Open Data for Local Authorities [Dutch]</a></p>
        </AuContent>
      </div>
   </div>
  </div>
</section>

<AuHr />

<section class="au-o-region-large au-c-theme-gray-200">
  <div class="au-o-layout  au-o-layout--large">
    <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Get started</AuHeading>
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
        <AuCard @textCenter={{true}} as |c|>
          <c.header @badgeIcon="sitemap" @badgeSkin="brand">
            <AuHeading @level="2" @skin="4">
              Which information do we have?
            </AuHeading>
          </c.header>
          <c.content>
            <p>
              You can now explore the meeting minutes that your local authorities write down, and the information they hold: decisions, agendas, decision makers.
            </p>
          </c.content>
          <c.footer>
            <p>
              <AuLink @linkRoute="participate.discover" class="au-c-button au-c-button--secondary">
                Discover the information
              </AuLink>
            </p>
          </c.footer>
        </AuCard>
      </div>
      <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
        <AuCard @textCenter={{true}} as |c|>
          <c.header @badgeIcon="users" @badgeSkin="brand">
            <AuHeading @level="2" @skin="4">
              How to explore the data
            </AuHeading>
          </c.header>
          <c.content>
            <p>
              We made a first prototype of our <strong>Decision Data Hive</strong>, which lets you query our data and allows you to click through the information &mdash; to inspire you!
            </p>
          </c.content>
          <c.footer>
            <p>
              <AuLink @linkRoute="participate.explore" class="au-c-button au-c-button--secondary">
                Explore the data
              </AuLink>
            </p>
          </c.footer>
        </AuCard>
      </div>

      <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
        <AuCard @textCenter={{true}} as |c|>
          <c.header @badgeIcon="users" @badgeSkin="brand">
            <AuHeading @level="2" @skin="4">
              How to propose your idea
            </AuHeading>
          </c.header>
          <c.content>
            <p>
              Send us your proposal whether it’s a design, prototype or concept &mdash; get the opportunity to win the Linked Open Data for Local Governments award!
            </p>
          </c.content>
          <c.footer>
            <p>
              <AuLink @linkRoute="participate.propose" class="au-c-button au-c-button--secondary">
                Propose your idea
              </AuLink>
            </p>
          </c.footer>
        </AuCard>
      </div>
    </div>
  </div>
</section>

{{outlet}}